<div class= deck-list>

<h1> WELCOME TO FLASHCARDS! </h1>

<img src="http://science-all.com/images/question-mark-clipart/question-mark-clipart-10.gif" alt="Mountain View">

<h2> CHOOSE A DECK BELOW </h2>


<% @decks.each do |deck| %>
<div id="deck-list">
  <br>
  <a href="/decks/<%= deck.id %>"><%=deck.name %></a>
<% end %>
</div>
