<div class= deck-list>

<h1> Welcome to Flashcards! </h1>

<img src="https://s-media-cache-ak0.pinimg.com/736x/93/6b/98/936b982155e867f6a05b538e98ca0225.jpg" alt="Mountain View">

<h2> CHOOSE A DECK BELOW </h2>


<% @decks.each do |deck| %>
<div id="deck-list">
  <br>
  <a href="/decks/<%= deck.id %>"><%=deck.name %></a>
<% end %>
</div>
