



<h1> <%= @deck.name %> </h1>

<h2> <%= @deck.description %> </h2>


<form action="/games" method= "POST">
  <input type="hidden" name="game[deck_id]" value="<%=@deck.id %>">
  <input type ="submit" name="Play" >
</form>

